<!doctype html>
<html lang="en">
	
	{% include head.html %}

	<body>

		<div class="site-wrapper">
			{% include header.html %}

			<div class="post-wrapper">
				<div class="post-masthead">
					<h1 id="page-title">{{ page.title }}</h1>
					<time class="post-time" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
				</div>

				<div class="post-content">
					{{ content }}
				</div>

				<div class="post-footer">
					{% if page.call_to_action %}
						<a class="button" href="{{ page.call_to_action_link}}" rel="nofollow" target="_blank">{{page.call_to_action}}</a>
					{% endif %}
					<a class="button" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Share on Twitter</a>
				</div>
			</div>

			{% include footer.html %}
		</div>
	</body>
</html>